{% extends "base.html" %}

{% block title %}FaB{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Booking Successful</h1>
    <h2>Thanks for booking with {{ partner }}, {{ name }}</h2>
    <h2>Total cost of your booking £{{ total_cost }}</h2>
</div>
 <div class="row">
    <div class="col-md-6">
        <a class="button btn btn-warning btn-lg btn-block" href="{{ url_for('main.cross_sell', partner=partner, type='Hotel') }}">Hotel Cross-sell</a>
    </div>
    <div class="col-md-6">
        <a class="button btn btn-success btn-lg btn-block" href="{{ url_for('main.cross_sell', partner=partner, type='Car') }}">Car Hire Cross-sell</a>
    </div>
</div>
{% endblock %}